@font-face {
  font-family: Comfortaa;
  font-display: swap;
  src: url("./../fonts/Comfortaa-Light.woff2") format("woff2"), url("./../fonts/Comfortaa-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  font-display: swap;
  src: url("./../fonts/Lato-Light.woff2") format("woff2"), url("./../fonts/Lato-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: SourceSansPro;
  font-display: swap;
  src: url("./../fonts/SourceSansPro-Bold.woff2") format("woff2"), url("./../fonts/SourceSansPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: SourceSansPro;
  font-display: swap;
  src: url("./../fonts/SourceSansPro-Light.woff2") format("woff2"), url("./../fonts/SourceSansPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: SourceSansPro;
  font-display: swap;
  src: url("./../fonts/SourceSansPro-Regular.woff2") format("woff2"), url("./../fonts/SourceSansPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: SourceSansPro;
  font-display: swap;
  src: url("./../fonts/SourceSansPro-SemiBold.woff2") format("woff2"), url("./../fonts/SourceSansPro-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

:root {
  --font-family: SourceSansPro, sans-serif;
  --container-width: 1200px;
  --container-offset: 15px;
  --container-standart: calc(var(--container-width) + var(--container-offset) * 2);
  --bc-color: #2378C9;
  --bg-line-color: #0075BE;
  --bg-hero-color: #0E6EAA;
  --bg-hero-btn: #5EB8F0;
  --text-subtitle-hero: #C5C1FE;
  --text-color-about: #6B6868;
  --bg-color-advantages: #DFEEFC;
  --text-color-advantages: 56565E;
  --bg-btn-color: #F86D6D;
  --news-card-bg: #F7F7F7;
  --news-info-color: #A9A9A9;
  --news-content-text: #56565E;
  --accent-text-color: #ffffff;
  --nav-text-color: #302D2D;
  --black-color: #000000;
  --footer-bg-color: #10406F;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
}

a {
  color: var(--accent-text-color);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: var(--container-standart);
  margin: 0 auto;
  padding: 0 15px;
}

.container-left {
  padding-left: calc((100% - var(--container-standart)) / 2 + var(--container-offset));
}

.hidden {
  overflow: hidden;
}

.header {
  background-color: var(--bc-color);
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0;
  gap: 10px;
}

.header__content-place {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 11px;
}

.header__content-contacts {
  margin-right: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.header__content-contacts-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__content-soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.header__mail,
.header__phone {
  padding-left: 32px;
  position: relative;
}

.header__mail::before,
.header__phone::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: contain;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header__mail::before {
  background-image: url("./../img/mail.svg");
}

.header__phone::before {
  background-image: url("./../img/phone.svg");
}

.header__phone:hover,
.header__mail:hover {
  text-decoration: underline;
}

.header-text p {
  display: inline-block;
  color: var(--accent-text-color);
  font-size: 16px;
}

.burger-open {
  display: none;
  padding: 0;
  width: 25px;
  height: 25px;
  background-color: var(--bg-hero-btn);
  border-radius: 50%;
  border: none;
  outline: none;
  position: relative;
  z-index: 10;
}

.burger-open span {
  display: block;
  width: 10px;
  height: 1px;
  margin: 0 auto;
  background-color: var(--accent-text-color);
}

.burger-open::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  width: 10px;
  height: 1px;
  background-color: var(--accent-text-color);
}

.burger-open::before {
  content: "";
  position: absolute;
  bottom: 8px;
  left: 8px;
  width: 10px;
  height: 1px;
  background-color: var(--accent-text-color);
}

.mob-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50px;
  background-color: var(--bg-hero-color);
  z-index: 15;
}

.mob-menu__header {
  padding: 16px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(217, 214, 214, 0.56);
}

.mob-menu__title {
  font-size: 22px;
  line-height: 1.2727;
  color: var(--accent-text-color);
}

.mob-menu__contats {
  padding-top: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mob-menu__contat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 31px;
}

.mob-menu__phone,
.mob-menu__mail {
  font-size: 16px;
  line-height: 1.25;
  color: var(--accent-text-color);
}

.mob-menu__content-soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 31px;
  margin-bottom: 49px;
}

.mob-menu__list {
  text-align: center;
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 34px;
  font-size: 18px;
  line-height: 1.277;
  color: var(--accent-text-color);
}

.burger-close {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}

.mob-menu.active {
  display: block;
}

.nav {
  padding: 25px 0 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.nav__text {
  text-align: right;
}

.nav__text-title {
  font-family: "Comfortaa";
  font-size: 18px;
  line-height: 1.111;
  color: var(--nav-text-color);
  text-transform: capitalize;
}

.nav__text-description {
  font-family: "Lato";
  font-weight: 300;
  font-size: 14px;
  line-height: 1.215;
  color: var(--nav-text-color);
  position: relative;
}

.nav__text-description::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 58px;
  height: 1px;
  background-color: var(--bg-line-color);
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 39px;
}

.nav__link {
  font-size: 18px;
  line-height: 1.278;
  color: var(--nav-text-color);
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  position: relative;
}

.nav__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: var(--bg-line-color);
  -webkit-transition: width 0.2s ease-in-out;
  -o-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
}

.nav__link:hover {
  color: var(--bg-line-color);
}

.nav__link:hover::before {
  width: 100%;
}

.nav__button {
  padding: 17px 29px;
  background-color: var(--bg-btn-color);
  border-radius: 26px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.285;
  color: var(--accent-text-color);
  -webkit-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.nav__button:hover {
  background-color: var(--bg-line-color);
}

.nav__button:active {
  position: relative;
  top: 1px;
}

.hero {
  background-color: var(--bg-hero-color);
  margin-bottom: 115px;
}

.hero__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__content {
  max-width: 485px;
}

.hero__sub-title {
  margin-bottom: 11px;
  font-size: 14px;
  line-height: 1.285;
  color: var(--text-subtitle-hero);
  position: relative;
}

.hero__sub-title::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -100%;
  width: calc(100% - 10px);
  height: 1px;
  background-color: var(--text-subtitle-hero);
}

.hero__title {
  margin-bottom: 21px;
  font-weight: 700;
  font-size: 62px;
  line-height: 1.065;
  color: var(--accent-text-color);
}

.hero__description {
  margin-bottom: 26px;
  font-size: 18px;
  line-height: 1.278;
  color: var(--accent-text-color);
}

.hero__button {
  padding: 18px 43px;
  background-color: var(--bg-hero-btn);
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  line-height: 1.278;
  color: var(--accent-text-color);
  -webkit-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.hero__button:hover {
  background-color: var(--bg-btn-color);
}

.hero__button:active {
  position: relative;
  top: 1px;
}

.hero__img {
  position: relative;
}

.hero__img-img {
  position: relative;
  padding-right: 150px;
  z-index: 2;
}

.hero__img-svg {
  position: absolute;
  top: 177px;
  left: 230px;
  opacity: 0.1;
  z-index: 1;
}

.about {
  margin-bottom: 105px;
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 61px;
}

.about__content {
  max-width: 683px;
}

.about__title {
  margin-bottom: 33px;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.25;
  color: var(--nav-text-color);
}

.about__title span {
  font-weight: 700;
  color: var(--bc-color);
}

.about__text {
  font-size: 18px;
  line-height: 1.778;
  color: var(--text-color-about);
}

.about__text + .about__text {
  margin-top: 22px;
}

.about__list-row {
  margin-top: 18px;
  max-width: 435px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__list-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.about__item {
  padding-left: 36px;
  font-size: 20px;
  line-height: 1.25;
  color: var(--nav-text-color);
  position: relative;
}

.about__item::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--bc-color);
}

.advantages {
  padding: 102px 0 93px;
  background-color: var(--bg-color-advantages);
  margin-bottom: 91px;
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 326px;
          flex: 0 0 326px;
  text-align: center;
}

.advantages__item img {
  margin: 0 auto 25px;
}

.advantages__title {
  font-weight: 400;
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 1.25;
  color: var(--black-color);
}

.advantages__title-last {
  max-width: 245px;
  margin: 0 auto 15px;
}

.advantages__text {
  font-size: 18px;
  line-height: 1.611;
  color: var(--text-color-advantages);
}

.specialist {
  padding: 0 0 119px;
}

.specialist__content {
  max-width: 471px;
  margin: 0 auto 45px;
}

.specialist__title {
  margin-bottom: 20px;
  font-size: 52px;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  color: var(--nav-text-color);
}

.specialist__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  color: var(--nav-text-color);
}

.specialist__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.specialist__img img {
  border-radius: 20px 20px 0px 0px;
}

.specialist__item {
  -webkit-box-shadow: 0px 0px 8px -1px rgba(29, 28, 28, 0.28);
          box-shadow: 0px 0px 8px -1px rgba(29, 28, 28, 0.28);
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in, -webkit-transform 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in, -webkit-transform 0.2s ease-in-out;
  -o-transition: box-shadow 0.2s ease-in, transform 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in, transform 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in, transform 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in, -webkit-transform 0.2s ease-in-out;
}

.specialist__item:hover {
  -webkit-box-shadow: 2px 2px 8px 2px rgba(29, 28, 28, 0.35);
          box-shadow: 2px 2px 8px 2px rgba(29, 28, 28, 0.35);
  -webkit-transform: scale(1.01);
      -ms-transform: scale(1.01);
          transform: scale(1.01);
}

.specialist__item-content {
  padding: 22px 0 23px 24px;
  background-color: var(--bc-color);
  border-radius: 0px 0px 20px 20px;
}

.specialist__item-title {
  margin-bottom: 7px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.278;
  color: var(--accent-text-color);
}

.specialist__item-text {
  font-size: 14px;
  line-height: 1.286;
  color: var(--accent-text-color);
}

.price {
  padding: 27px 0;
  background: -o-linear-gradient(192.08deg, #DFEEFC 11.01%, rgba(167, 210, 251, 0.92) 92.77%);
  background: linear-gradient(257.92deg, #DFEEFC 11.01%, rgba(167, 210, 251, 0.92) 92.77%);
}

.price__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price__content {
  margin-right: -30px;
  padding: 55px 61px;
  background-color: #5EB8F0;
  border-radius: 20px;
}

.price__titles {
  margin-bottom: 72px;
  text-align: center;
}

.price__title {
  font-weight: 400;
  margin-bottom: 8px;
  font-size: 52px;
  line-height: 1.25;
  color: var(--accent-text-color);
}

.price__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.25;
  color: var(--accent-text-color);
}

.price__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0;
  border-bottom: 2px dotted var(--accent-text-color);
}

.price__name {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.278;
  color: var(--accent-text-color);
}

.price__dollars {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2778;
  color: var(--accent-text-color);
}

.news {
  padding: 105px 0 116px;
}

.news__title {
  padding-bottom: 43px;
  font-size: 52px;
  line-height: 1.25;
  text-align: center;
  color: var(--nav-text-color);
}

.news__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news__item {
  background-color: var(--news-card-bg);
  border-radius: 20px;
  padding: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 380px;
          flex: 0 0 380px;
}

.news__img {
  margin-bottom: 15px;
}

.news__img img {
  border-radius: 19px;
  position: relative;
}

.news__img img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(46, 45, 45, 0.1);
}

.news__info,
.news__content {
  padding: 0 15px;
}

.news__info {
  margin-bottom: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news__info-date,
.news__info-comment {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.285;
  color: var(--news-info-color);
}

.news__info-date span,
.news__info-comment span {
  font-weight: 700;
  color: var(--nav-text-color);
}

.news__content-title {
  margin-bottom: 17px;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.272;
  color: var(--nav-text-color);
}

.news__content-text {
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 1.25;
  color: var(--news-content-text);
}

.news__info-link {
  display: block;
  padding: 15px 111px;
  font-size: 18px;
  line-height: 1.278;
  color: var(--accent-text-color);
  background: var(--bg-hero-btn);
  border-radius: 30px;
  -webkit-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.news__info-link:hover {
  background-color: var(--bg-btn-color);
}

.news__info-link:active {
  position: relative;
  top: 1px;
}

.no-webp .clients {
  background-image: url("./../img/clients-bg.jpg"); }

.clients {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 90px 0;
  position: relative;
}

.clients::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(50, 48, 48, 0.39);
}

.clients__slide {
  margin: 0 30px;
  position: relative;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
}

.clients__title {
  padding: 55px 0 69px;
  text-align: center;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.25;
  color: var(--nav-text-color);
}

.clients__wrapper {
  padding: 0 158px 80px 116px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 52px;
}

.clients__content {
  max-width: 494px;
}

.clients__text {
  font-size: 18px;
  margin-bottom: 37px;
  line-height: 1.777;
  color: var(--text-color-about);
}

.clients__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients__name {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.752;
  color: var(--bc-color);
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.clients__name:hover {
  color: var(--bg-btn-color);
}

.clients__soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 19px;
}

.clients__soc-link {
  width: 40px;
  height: 40px;
  background-color: #E7E7E7;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.clients__soc-link:hover {
  background-color: var(--news-info-color);
}

.clients__arrow-left,
.clients__arrow-right {
  width: 60px;
  height: 60px;
  background-color: var(--text-subtitle-hero);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.clients__arrow-left:hover,
.clients__arrow-right:hover {
  background-color: var(--news-info-color);
}

.clients__arrow-left:active,
.clients__arrow-right:active {
  -webkit-transform: scale(0.99);
      -ms-transform: scale(0.99);
          transform: scale(0.99);
}

.clients__arrow-left {
  position: absolute;
  top: 50%;
  left: -30px;
}

.clients__arrow-right {
  position: absolute;
  top: 50%;
  right: -30px;
}

.forms {
  background: -o-linear-gradient(192.08deg, #DFEEFC 11.01%, rgba(167, 210, 251, 0.92) 92.77%);
  background: linear-gradient(257.92deg, #DFEEFC 11.01%, rgba(167, 210, 251, 0.92) 92.77%);
}

.forms__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form {
  margin-left: 62px;
  max-width: 425px;
  padding: 58px 47px;
  background-color: var(--accent-text-color);
  -webkit-box-shadow: 0px 0px 8px 2px rgba(108, 108, 108, 0.25);
          box-shadow: 0px 0px 8px 2px rgba(108, 108, 108, 0.25);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__title {
  margin-bottom: 29px;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.25;
  text-align: center;
  color: var(--nav-text-color);
}

.form__input {
  width: 100%;
  margin-bottom: 20px;
  padding: 20px 23px;
  background: var(--accent-text-color);
  border: 1px solid #E4E4E4;
  border-radius: 10px;
  font-size: 20px;
}

.form__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.278;
  color: #B9B9B9;
}

.form__input::-moz-placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.278;
  color: #B9B9B9;
}

.form__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.278;
  color: #B9B9B9;
}

.form__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.278;
  color: #B9B9B9;
}

.form__input::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.278;
  color: #B9B9B9;
}

.form__btn {
  margin-bottom: 20px;
  white-space: nowrap;
  padding: 18px 80px;
  border-radius: 30px;
  background-color: var(--bg-hero-btn);
  font-size: 18px;
  line-height: 1.278;
  color: var(--accent-text-color);
  -webkit-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  border: none;
  cursor: pointer;
}

.form__btn:hover {
  background-color: var(--bg-btn-color);
}

.form__btn:active {
  position: relative;
  top: 1px;
}

.form__text {
  max-width: 280px;
  margin: 0 auto;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.285;
  text-align: center;
  color: #747474;
}

.footer__line {
  background-color: var(--footer-bg-color);
  border-bottom: 1px solid rgba(180, 180, 180, 0.35);
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__contacts {
  padding: 66px 90px 70px 0;
  border-right: 1px solid rgba(180, 180, 180, 0.35);
}

.footer__logo-wrapper {
  width: 186px;
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.footer__logo-content {
  text-align: right;
}

.footer__title {
  font-family: "Comfortaa";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.111;
  color: var(--accent-text-color);
}

.footer__subtitle {
  font-family: "Lato";
  font-weight: 300;
  font-size: 14px;
  line-height: 1.215;
  color: var(--accent-text-color);
  position: relative;
}

.footer__subtitle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 56px;
  height: 1px;
  background-color: var(--accent-text-color);
}

.footer__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__address + .footer__address {
  margin-top: 20px;
}

.footer__address-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
}

.footer__address-text {
  font-size: 14px;
  line-height: 1.285;
  color: var(--accent-text-color);
}

.footer__content-soc {
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.footer__nav {
  width: 100%;
  margin: 68px 0 0 98px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.footer__nav-item:first-child {
  margin-bottom: 21px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
  color: var(--accent-text-color);
}

.footer__nav-item:not(:first-child) {
  margin-top: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #E0E0E0;
}

.footer__nav-link {
  color: #E0E0E0;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.footer__nav-link:hover {
  color: var(--bg-btn-color);
}

.footer__copy {
  padding: 37px 0;
  background-color: var(--footer-bg-color);
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.25;
  color: #C4C4C4;
}

@media (max-width: 1250px) {
  .specialist__list {
    max-width: 600px;
    margin: 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .price__content {
    margin-left: 15px;
  }
}

@media (max-width: 1200px) {
  .nav__list {
    gap: 20px;
  }

  .nav__link {
    font-size: 17px;
  }

  .nav__button {
    padding: 12px 15px;
  }

  .hero__sub-title::before {
    display: none;
  }

  .about__content {
    max-width: 500px;
  }

  .about__title {
    font-size: 46px;
  }

  .about__text {
    font-size: 16px;
  }

  .about__list-row {
    font-size: 16px;
  }

  .about__item {
    font-size: 18px;
  }

  .advantages__item {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
  }

  .advantages__item:not(:last-child) {
    margin-bottom: 41px;
  }

  .clients__wrapper {
    padding: 0 75px 40px 60px;
    gap: 30px;
  }

  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .footer__contacts {
    padding: 66px 0px 70px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-right: none;
  }

  .footer__logo-wrapper {
    margin-bottom: 60px;
  }

  .footer__address {
    width: 155px;
  }

  .footer__content-soc {
    margin-top: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__nav {
    padding-bottom: 38px;
    margin: 41px 0 0 0px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    border-bottom: 1px solid rgba(180, 180, 180, 0.35);
  }
}

@media (max-width: 1100px) {
  .hero__img-img {
    padding-right: 50px;
  }

  .hero__img-svg {
    top: 107px;
    left: 270px;
  }

  .hero__img-svg {
    display: none;
  }
}

@media (max-width: 992px) {
  .container-left {
    padding-left: unset;
    max-width: var(--container-standart);
    margin: 0 auto;
    padding: 0 15px;
  }

  .header__mail span,
  .header__phone span {
    display: none;
  }

  .nav__text {
    display: none;
  }

  .nav__button {
    padding: 9px 16px;
    font-size: 13px;
  }

  .about__wrapper {
    gap: 20px;
  }

  .about__content {
    max-width: 400px;
  }

  .about__title {
    margin-bottom: 28px;
    font-size: 30px;
  }

  .about__text {
    font-size: 14px;
  }

  .about__list-row {
    font-size: 14px;
  }

  .advantages {
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 55px 0 55px;
    margin-bottom: 46px;
  }

  .advantages__list {
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 284px;
  }

  .advantages__item img {
    width: 85px;
    height: 85px;
  }

  .advantages__title {
    font-size: 20px;
  }

  .advantages__text {
    font-size: 15px;
  }

  .price__content {
    margin-left: unset;
    margin-right: unset;
    width: 100%;
    padding: 25px 26px;
  }

  .price__titles {
    margin-bottom: 35px;
  }

  .price__img {
    display: none;
  }

  .news__list {
    width: 100%;
    overflow: hidden;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .clients__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .forms {
    padding: 46px 0 70px;
  }

  .form {
    margin-left: 0;
  }
}

@media (max-width: 900px) {
  .hero__title {
    font-size: 48px;
  }
}

@media (max-width: 768px) {
  .header__content-contacts {
    display: none;
  }

  .header__content-soc {
    display: none;
  }

  .header__mail,
  .header__phone {
    display: none;
  }

  .burger-open {
    display: block;
  }

  .nav {
    padding: 10px 0 8px;
  }

  .nav__logo img {
    width: 35px;
    height: 35px;
  }

  .nav__list {
    display: none;
  }

  .hero {
    padding: 40px 0 35px;
    position: relative;
    margin-bottom: 48px;
  }

  .hero__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .hero__button {
    padding: 20px 0px;
    font-size: 20px;
    position: absolute;
    left: 50%;
    width: 80%;
    text-align: center;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 10px;
    z-index: 6;
  }

  .hero__img-svg {
    display: block;
    width: 300px;
    top: 100px;
    left: 200px;
  }

  .about {
    margin-bottom: 60px;
  }

  .about__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 48px;
  }

  .about__content {
    max-width: 480px;
  }

  .about__list-col {
    row-gap: 13px;
  }

  .about__item {
    padding-left: 27px;
    font-size: 14px;
  }

  .about__item::before {
    content: "";
    width: 9px;
    height: 9px;
  }

  .specialist {
    padding: 0 0 30px;
  }

  .price__title {
    font-size: 36px;
  }

  .news {
    padding: 35px 0 61px;
  }

  .news__title {
    padding-bottom: 25px;
    font-size: 30px;
  }

  .news__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 212px;
            flex: 0 0 212px;
    padding: 8px 8px 15px 8px;
  }

  .news__info-date,
  .news__info-comment {
    font-size: 8px;
  }

  .news__content-title {
    font-size: 16px;
  }

  .news__content-text {
    font-size: 11px;
  }

  .news__info-link {
    padding: 7px 54px;
    font-size: 14px;
  }

  .clients {
    padding: 45px 0;
  }

  .clients__title {
    padding: 17px 10px 19px;
    font-size: 36px;
  }

  .clients__wrapper {
    gap: 24px;
  }

  .clients__img img {
    width: 120px;
    height: 120px;
  }

  .clients__text {
    font-size: 16px;
  }

  .clients__name {
    font-size: 24px;
  }

  .forms__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .forms__img {
    display: none;
  }

  .footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 54px;
  }
}

@media (max-width: 640px) {
  .specialist__content {
    margin: 0 auto 20px;
  }

  .specialist__title {
    font-size: 30px;
  }

  .specialist__text {
    font-size: 14px;
  }

  .specialist__list {
    gap: 10px;
  }
}

@media (max-width: 576px) {
  .header-text p {
    font-size: 14px;
  }

  .hero__sub-title {
    font-size: 11px;
    margin-bottom: 8px;
  }

  .hero__title {
    font-size: 40px;
  }

  .hero__description {
    font-size: 14px;
  }

  .hero__button {
    padding: 15px 0px;
    font-size: 16px;
  }

  .hero__img-svg {
    width: 200px;
  }

  .clients__slide {
    margin: 0 15px;
  }

  .clients__title {
    font-size: 30px;
  }

  .clients__wrapper {
    padding: 0 30px 30px 30px;
  }

  .clients__text {
    margin-bottom: 16px;
    font-size: 10px;
  }

  .clients__name {
    font-size: 15px;
  }

  .clients__soc-link {
    width: 20px;
    height: 20px;
  }

  .clients__soc-link img {
    width: 12px;
    height: 12px;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .clients__arrow-left,
  .clients__arrow-right {
    width: 30px;
    height: 30px;
  }

  .clients__arrow-left {
    left: -15px;
  }

  .clients__arrow-left img {
    width: 7px;
    height: 12px;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .clients__arrow-right {
    right: -15px;
  }

  .clients__arrow-right img {
    width: 7px;
    height: 12px;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .form {
    padding: 20px 15px;
  }

  .form__title {
    font-size: 24px;
  }

  .form__input {
    padding: 13px 17px;
  }

  .form__btn {
    padding: 13px 30px;
    font-size: 13px;
  }

  .form__text {
    font-size: 10px;
  }
}

@media (max-width: 460px) {
  .hero__img-svg {
    width: 150px;
    top: 60px;
    left: 125px;
  }
}

@media (max-width: 400px) {
  .hero__title {
    font-size: 32px;
  }
}

@media (max-widrh: 576px) {
  .form__input::-webkit-input-placeholder {
    font-size: 13px;
  }
  .form__input::-moz-placeholder {
    font-size: 13px;
  }
  .form__input:-ms-input-placeholder {
    font-size: 13px;
  }
  .form__input::-ms-input-placeholder {
    font-size: 13px;
  }
  .form__input::placeholder {
    font-size: 13px;
  }
}

.webp .clients { background-image: url(./../img/clients-bg.webp); }